{% extends "challenge.html" %}
{% block input %}
</div>
<div class="d-flex justify-content-center flex-column align-items-center">
  <style>
    #tile-container {
      width: 350px;
      height: 82px;
      grid-template-columns: repeat(5, 1fr);
      display: grid;
      grid-gap: 5px;
      padding: 10px;
      margin-bottom: 15px;
      --color-tone-empty: #3a3a3c;
      --color-tone-tbd: #565758;
      --color-correct: #538d4e;
      --color-present: #b59f3b;
      --color-absent: #3a3a3c;
    }
    .tile {
      width: 100%;
      height: 100%;
      border: 2px solid var(--color-tone-empty);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
    }

    .tile[data-state='tbd'] {
      border: 2px solid var(--color-tone-tbd);
    }
    .tile[data-state='correct'] {
      background-color: var(--color-correct);
      border: 2px solid var(--color-correct);
    }
    .tile[data-state='present'] {
      background-color: var(--color-present);
      border: 2px solid var(--color-present);
    }
    .tile[data-state='absent'] {
      background-color: var(--color-absent);
      border: 2px solid var(--color-absent);
    }
    .tile[data-animation="pop"] {
      animation-name: PopIn;
      animation-duration: 100ms;
    }
    @keyframes PopIn {
      from {
        transform: scale(0.8);
        opacity: 0;
      }
      40% {
        transform: scale(1.1);
        opacity: 1;
      }
    }
    .tile[data-animation='flip-in'] {
      animation-name: FlipIn;
      animation-duration: 250ms;
      animation-timing-function: ease-in;
    }
    @keyframes FlipIn {
      0% {
        transform: rotateX(0deg);
      }
      100% {
        transform: rotateX(-90deg);
      }
    }
    .tile[data-animation='flip-out'] {
      animation-name: FlipOut;
      animation-duration: 250ms;
      animation-timing-function: ease-in;
    }
    @keyframes FlipOut {
      0% {
        transform: rotateX(-90deg);
      }
      100% {
        transform: rotateX(0);
      }
    }
    /* NYT Wordle - Tile.module.scss */
    #tile-container[data-state='shake'] {
      animation-name: Shake;
      animation-duration: 600ms;
    }
    @keyframes Shake {
      10%,
      90% {
        transform: translateX(-1px);
      }

      20%,
      80% {
        transform: translateX(2px);
      }

      30%,
      50%,
      70% {
        transform: translateX(-4px);
      }

      40%,
      60% {
        transform: translateX(4px);
      }
    }
    .tile[data-animation='win'] {
      animation-name: Bounce;
      animation-duration: 1000ms;
    }
    @keyframes Bounce {
      0%,
      20% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      50% {
        transform: translateY(5px);
      }
      60% {
        transform: translateY(-15px);
      }
      80% {
        transform: translateY(2px);
      }
      100% {
        transform: translateY(0);
      }
    }
    /* NYT Wordle - Row.module.scss */
    .key {
      --key-bg: #818384;
      --key-text-color: #fff;
      --key-bg-correct: #538d4e;
      --key-bg-present: #b59f3b;
      --key-bg-absent: #3a3a3c;
      --key-evaluated-text-color: #fff;
      --key-evaluated-text-color-absent: #fff;
      font-size: 1.5em;
      border: 0;
      padding: 0;
      height: 58px;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      background-color: var(--key-bg);
      color: var(--key-text-color);
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
    .key:last-of-type {
      margin: 0;
    }
    .key[data-state='correct'] {
      background-color: var(--key-bg-correct);
      color: var(--key-evaluated-text-color);
    }
    .key[data-state='present'] {
      background-color: var(--key-bg-present);
      color: var(--key-evaluated-text-color);
    }
    .key[data-state='absent'] {
      background-color: var(--key-bg-absent);
      color: var(--key-evaluated-text-color-absent);
    }
    .key.fade {
      transition: background-color 0.1s ease, color 0.1s ease;
    }
    .half {
      flex: 0.5;
    }
    .one {
      flex: 1;
    }
    .oneAndAHalf {
      flex: 1.5;
      font-size: 12px;
    }
    /* NYT Wordle - Keyboard.module.scss */
    .kb-row {
      display: flex;
      width: 350px;
      padding: 5px 10px;
      /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
      touch-action: manipulation;
    }
  </style>
  <input
      id="challenge-id" class="challenge-id" type="hidden"
      value="{{ challenge.id }}"
  >
  <input
    id="challenge-input" class="challenge-input d-none" 
    type="text" name="submission"
    @input="submitChallenge()"
    placeholder="{% trans %}Flag{% endtrans %}" x-model="submission"
  >
  <div id="tile-container">
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
  </div>
  <div class="kb-row">
    <button type="button" class="key mx-1" onclick="handleKeypress('1')">1</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('2')">2</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('3')">3</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('4')">4</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('5')">5</button>
  </div>
  <div class="kb-row">
    <button type="button" class="key mx-1" onclick="handleKeypress('6')">6</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('7')">7</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('8')">8</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('9')">9</button>
    <button type="button" class="key mx-1" onclick="handleKeypress('0')">0</button>
  </div>
  <div class="kb-row">
    <button type="button" class="key mx-1" onclick="handleKeypress('Backspace', 1)">
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30" class="game-icon" data-testid="icon-backspace"><path fill="#ffffff" d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.9.89 1.59.89h15c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H7.07L2.4 12l4.66-7H22v14zm-11.59-2L14 13.41 17.59 17 19 15.59 15.41 12 19 8.41 17.59 7 14 10.59 10.41 7 9 8.41 12.59 12 9 15.59z"></path></svg>
    </button>
    <button type="button" class="key mx-1" onclick="handleKeypress('Enter', 1)">Enter</button>
  </div>
{% endblock %}

{% block submit %}
{% endblock %}
